<a href="https://colab.research.google.com/github/diego2017003/Mlops_student_freedata_analysis_pipeline/blob/main/Download/mlops_download_merge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
url_discentes = 'https://dados.ufrn.br/dataset/80b1a8e9-2e40-4c6c-97ea-d595a3c8b8f5/resource/0e287fe5-badb-4b34-b1bf-8815db5dfbeb/download/d'
discentes = pd.read_table(url_discentes, sep=';',dtype=object)
url_curso = 'https://dados.ufrn.br/dataset/02526b96-cf40-4507-90b0-3afe5ddd53e7/resource/a10bc434-9a2d-491a-ae8c-41cf643c35bc/download/cursos-de-graduacao.csv'
dados_curso = pd.read_csv(url_curso,sep=';',dtype=object)

In [ ]:
url_20192 = 'https://dados.ufrn.br/dataset/8e0cb3ac-b6fa-48ef-a1ee-f2df0b893b72/resource/a947133d-ad21-4907-af12-8f0a91135af4/download/dados-socio-economicos-discentes-2019.2.csv'
socio_Economico_20192 = pd.read_csv(url_20192,sep=';',dtype=object)

In [ ]:
matriculas_20192_url = 'https://dados.ufrn.br/dataset/c8650d55-3c5a-4787-a126-d28a4ef902a6/resource/0d573a4f-de65-4c3d-b6bb-337473bc4e44/download/matricula-componente-20192.csv'
matriculas_20192 = pd.read_csv(matriculas_20192_url,sep=';',dtype=object)
matriculas_20192 = matriculas_20192.loc[:,['id_turma','discente','reposicao','descricao','numero_total_faltas']]
matriculas_20192.rename(columns={'discente':'id_discente'},inplace=True)
matriculas_20192.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 669552 entries, 0 to 669551
Data columns (total 5 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   id_turma             669552 non-null  object
 1   id_discente          669552 non-null  object
 2   reposicao            584545 non-null  object
 3   descricao            669552 non-null  object
 4   numero_total_faltas  625965 non-null  object
dtypes: object(5)
memory usage: 25.5+ MB

In [ ]:
matriculas_20205_url = 'https://dados.ufrn.br/dataset/c8650d55-3c5a-4787-a126-d28a4ef902a6/resource/54683a60-b998-4933-a4ee-a6331eba8826/download/matricula-componente-20205.csv'
matriculas_20205 = pd.read_csv(matriculas_20205_url,sep=';',dtype=object)
matriculas_20205 = matriculas_20205.loc[:,['id_turma','discente','reposicao','descricao','numero_total_faltas']]
matriculas_20205.rename(columns={'discente':'id_discente'},inplace=True)
matriculas_20205.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165824 entries, 0 to 165823
Data columns (total 5 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   id_turma             165824 non-null  object
 1   id_discente          165824 non-null  object
 2   reposicao            142649 non-null  object
 3   descricao            165824 non-null  object
 4   numero_total_faltas  142646 non-null  object
dtypes: object(5)
memory usage: 6.3+ MB

In [ ]:
url_202015 = 'https://dados.ufrn.br/dataset/8e0cb3ac-b6fa-48ef-a1ee-f2df0b893b72/resource/cf818b90-0867-4d2f-a5db-9c4707db34b7/download/dados-socio-economicos-discentes-2020.1.csv'
socio_Economico_202015 = pd.read_csv(url_202015,sep=';',dtype=object)

In [ ]:
discentes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 439200 entries, 0 to 439199
Data columns (total 17 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   id_discente          439200 non-null  object
 1   sexo                 439200 non-null  object
 2   ano_nascimento       438486 non-null  object
 3   raca                 438839 non-null  object
 4   estado_origem        416030 non-null  object
 5   cidade_origem        398267 non-null  object
 6   estado               391995 non-null  object
 7   municipio            391995 non-null  object
 8   bairro               363541 non-null  object
 9   nivel_ensino         439200 non-null  object
 10  forma_ingresso       429856 non-null  object
 11  ano_ingresso         439200 non-null  object
 12  periodo_ingresso     438382 non-null  object
 13  cotista              439200 non-null  object
 14  curso                410075 non-null  object
 15  tipo_cota            45821 non-null   object
 16  descricao_tipo_cota  45821 non-null   object
dtypes: object(17)
memory usage: 57.0+ MB

In [ ]:
dados_curso.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 22 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id_curso                 120 non-null    object
 1   nome                     120 non-null    object
 2   id_coordenador           112 non-null    object
 3   coordenador              112 non-null    object
 4   situacao_curso           120 non-null    object
 5   nivel_ensino             120 non-null    object
 6   grau_academico           120 non-null    object
 7   modalidade_educacao      120 non-null    object
 8   area_conhecimento        120 non-null    object
 9   tipo_oferta              120 non-null    object
 10  turno                    70 non-null     object
 11  tipo_ciclo_formacao      120 non-null    object
 12  municipio                120 non-null    object
 13  campus                   65 non-null     object
 14  id_unidade_responsavel   120 non-null    object
 15  unidade_responsavel      120 non-null    object
 16  website                  68 non-null     object
 17  data_funcionamento       70 non-null     object
 18  codigo_inep              118 non-null    object
 19  dou                      113 non-null    object
 20  portaria_reconhecimento  113 non-null    object
 21  convenio_academico       3 non-null      object
dtypes: object(22)
memory usage: 20.8+ KB

In [ ]:
socio_Economico_202015.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13725 entries, 0 to 13724
Data columns (total 10 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   id_discente                        13725 non-null  object
 1   ano                                13725 non-null  object
 2   periodo                            13725 non-null  object
 3   renda                              13725 non-null  object
 4   escola_ens_medio                   13725 non-null  object
 5   possui_bolsa_pesquisa              13725 non-null  object
 6   possui_auxilio_alimentacao         13725 non-null  object
 7   possui_auxilio_transporte          13725 non-null  object
 8   possui_auxilio_residencia_moradia  13725 non-null  object
 9   id_curso                           13722 non-null  object
dtypes: object(10)
memory usage: 1.0+ MB

In [ ]:
dados_curso.columns

Index(['id_curso', 'nome', 'id_coordenador', 'coordenador', 'situacao_curso',
       'nivel_ensino', 'grau_academico', 'modalidade_educacao',
       'area_conhecimento', 'tipo_oferta', 'turno', 'tipo_ciclo_formacao',
       'municipio', 'campus', 'id_unidade_responsavel', 'unidade_responsavel',
       'website', 'data_funcionamento', 'codigo_inep', 'dou',
       'portaria_reconhecimento', 'convenio_academico'],
      dtype='object')

In [ ]:
columns_dis = ['id_discente', 'sexo', 'ano_nascimento', 'raca', 'estado_origem',
       'cidade_origem', 'estado', 'municipio','nivel_ensino','ano_ingresso', 'periodo_ingresso', 'cotista',
       'curso', 'tipo_cota', 'descricao_tipo_cota']
discentes = discentes.loc[:,columns_dis]
columns_socioeco = ['id_discente', 'ano', 'periodo', 'renda',
       'possui_bolsa_pesquisa', 'possui_auxilio_alimentacao',
       'possui_auxilio_transporte', 'possui_auxilio_residencia_moradia',
       'id_curso'] 
socio_Economico_202015 = socio_Economico_202015.loc[:,columns_socioeco]
socio_Economico_20192 = socio_Economico_20192.loc[:,columns_socioeco]
columns_curso = ['id_curso','area_conhecimento']
dados_curso = dados_curso.loc[:,columns_curso]
#dados_curso.rename(columns={'nome':'curso'},inplace=True)

In [ ]:
dados_discentes_202015 = pd.merge(discentes,socio_Economico_202015,how='inner',on='id_discente')
dados_discentes_202015 = pd.merge(dados_discentes_202015,dados_curso,how='left',on='id_curso')
dados_discentes_202015 = pd.merge(dados_discentes_202015,matriculas_20205,how='inner',on='id_discente')

In [ ]:
dados_discentes_202015.drop_duplicates(inplace=True)
dados_discentes_202015.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11508 entries, 0 to 11507
Data columns (total 24 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   id_discente                        11508 non-null  object
 1   sexo                               11508 non-null  object
 2   ano_nascimento                     11508 non-null  object
 3   raca                               11507 non-null  object
 4   estado_origem                      11492 non-null  object
 5   cidade_origem                      11496 non-null  object
 6   estado                             11448 non-null  object
 7   municipio                          11448 non-null  object
 8   nivel_ensino                       11508 non-null  object
 9   ano_ingresso                       11508 non-null  object
 10  periodo_ingresso                   11507 non-null  object
 11  cotista                            11508 non-null  object
 12  curso                              11506 non-null  object
 13  tipo_cota                          6103 non-null   object
 14  descricao_tipo_cota                6103 non-null   object
 15  ano                                11508 non-null  object
 16  periodo                            11508 non-null  object
 17  renda                              11508 non-null  object
 18  possui_bolsa_pesquisa              11508 non-null  object
 19  possui_auxilio_alimentacao         11508 non-null  object
 20  possui_auxilio_transporte          11508 non-null  object
 21  possui_auxilio_residencia_moradia  11508 non-null  object
 22  id_curso                           11506 non-null  object
 23  area_conhecimento                  10276 non-null  object
dtypes: object(24)
memory usage: 2.2+ MB

In [ ]:
dados_discentes_20192 = pd.merge(discentes,socio_Economico_20192,how='inner',on='id_discente')
dados_discentes_20192 = pd.merge(dados_discentes_20192,dados_curso,how='left',on='id_curso')#matriculas_20192
dados_discentes_20192 = pd.merge(dados_discentes_20192,matriculas_20192,how='left',on='id_discente')

In [ ]:
dados_discentes_20192.drop_duplicates(inplace=True)
dados_discentes_20192.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 58649 entries, 0 to 228820
Data columns (total 28 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   id_discente                        58649 non-null  object
 1   sexo                               58649 non-null  object
 2   ano_nascimento                     58649 non-null  object
 3   raca                               58641 non-null  object
 4   estado_origem                      58560 non-null  object
 5   cidade_origem                      58635 non-null  object
 6   estado                             58342 non-null  object
 7   municipio                          58342 non-null  object
 8   nivel_ensino                       58649 non-null  object
 9   ano_ingresso                       58649 non-null  object
 10  periodo_ingresso                   58649 non-null  object
 11  cotista                            58649 non-null  object
 12  curso                              58639 non-null  object
 13  tipo_cota                          33030 non-null  object
 14  descricao_tipo_cota                33030 non-null  object
 15  ano                                58649 non-null  object
 16  periodo                            58649 non-null  object
 17  renda                              40920 non-null  object
 18  possui_bolsa_pesquisa              58649 non-null  object
 19  possui_auxilio_alimentacao         58649 non-null  object
 20  possui_auxilio_transporte          58649 non-null  object
 21  possui_auxilio_residencia_moradia  58649 non-null  object
 22  id_curso                           58639 non-null  object
 23  area_conhecimento                  54930 non-null  object
 24  id_turma                           57882 non-null  object
 25  reposicao                          50109 non-null  object
 26  descricao                          57882 non-null  object
 27  numero_total_faltas                51079 non-null  object
dtypes: object(28)
memory usage: 13.0+ MB

In [ ]:
dados_discentes_20192.to_csv("/content/drive/MyDrive/Dados mlops/dados_merge_discentes_20192.csv",index=False,encoding='utf-8')
dados_discentes_202015.to_csv("/content/drive/MyDrive/Dados mlops/dados_merge_discentes_20201_5.csv",index=False,encoding='utf-8')